body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: comicsans;
  font-size: 20px;
}
img {
  margin: 0 auto;
}
